/* body (learned codes from w3school) */
body 
{
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: aquamarine;   
}


/* p (learned codes from w3school) */
p 
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}


/* legend (learned codes from w3school) */
legend
{
    font-style: italic;
}


/* fieldset (learned codes from w3school) */
fieldset
{
    border: 1px solid;
    width: 300px;
    margin: auto;
    float: left;
}


.fieldset2
{
    border: 1px solid;
    width: 300px;
    margin: auto;
}


/* wrapper (learned codes from w3school) */
#wrapper 
{
    width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
}


/* table (learned codes from w3school) */
.table
{
    text-align: left;
    font-style: italic;
}


.table2
{
    text-align: center;    
}

.table3 p 
{
    text-align: left;
}


.table4
{
    height: 100px;
}


.table5
{
    height: 30px;
}

.table6
{
    float:right;
}


#banner 
{
   
}


/* navigation (learned codes from w3school) */
#navigation 
{
     height: 45px;
    background: linear-gradient(to top, #c2bcb5, #ffffff);
}


#nav 
{
    display: block;
    list-style: none;
    text-align: center;
}


#nav ul 
{
    display: none;
    list-style: none;
}


#nav li 
{
    float: left;
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #ffffff;
}

#nav a:link, #nav a:visited, #nav a:active 
{
    display: block;
    color: #574c3f;
    text-decoration: none;
}


#nav a:hover 
{
    background-color: white;
}


#content 
{
    padding: 30px;
    min-height: 500px;
}


/* map-canvas (learned codes from w3school) */
#map-canvas{
    width: 700px;
    height: 575px;
    
    
}


#ContentPlaceHolder1_pnlProducts div {
    float: left;
    width: 510px;
    height: 300px;
    text-align: center;
    border:  dotted;
}


.inputs {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #EAEAEA;
    background: -moz-linear-gradient(top, #FFF, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
    border: 1px solid #CACACA;
    color: black;
    margin: 0 0 25px;
    padding: 5px 9px;
    width: 260px;
}

.inputs:focus {
    background: #FFF;
    -webkit-box-shadow: 0 0 25px #CCC;
    -moz-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #CCC;
}


.productName
{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}


.productPrice
{
    font-size: 15px;
    font-style: initial;
    font-weight: bold;
}


.productImage
{
    width: 150px;
    height: 150px;
    vertical-align: central;
    padding: 10px;
    border-radius:50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}


.productImage3
{
    width: 500px;
    height: 500px;
    vertical-align: central;
    padding: 10px;
    border-radius:50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}


.button 
{
    padding: 10px;
    margin: 10px;
    color: black;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
    background: linear-gradient(to bottom);
}



/* footer (learned codes from w3school) */
#footer { overflow:hidden; clear:both; background-color:silver; padding:10px 0px; width:1100px; margin:auto; }

#footer p { float:left; text-align:center; color:black; padding:0px 30px 0px 0px; }









